<div class="p-grid">
    <div class="p-col-12">
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-edit p-pr-2"></i>
                            <strong>Compte</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-detail
                            [showResiz]="false"
                            [types]="'e'"
                            (editClick)="onEditClick()"
                        ></app-menu-detail>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="p-fluid">
                <form [formGroup]="formGroup">
                    <div class="p-grid">
                        <div class="p-col-12 p-md-6">
                            <div class="card">
                                <h5>Authentification</h5>
                                <div class="p-fluid">
                                    <app-input-form
                                        [formGroup]="formGroup"
                                        [name]="'username'"
                                        [label]="'Nom d\'utilisateur'"
                                        [value]="f.username"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                    </app-input-form>
                                    <app-input-form
                                        [formGroup]="formGroup"
                                        [name]="'email'"
                                        [label]="'Email'"
                                        [value]="f.email"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                    </app-input-form>
                                </div>
                            </div>
                        </div>
                        <div class="p-col-12 p-md-6">
                            <div class="card">
                                <h5>Profile</h5>
                                <div class="p-fluid">
                                    <app-select-form
                                        [formGroup]="formGroup.get('profile')"
                                        [name]="'civility'"
                                        [label]="'Civilité'"
                                        [placeholder]="'Indéfini'"
                                        [value]="f.profile.get('civility')"
                                        [values]="civilitys"
                                        [displayField]="'label'"
                                        [returnValue]="'code'"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                    </app-select-form>
                                    <app-input-form
                                        [formGroup]="formGroup.get('profile')"
                                        [name]="'firstname'"
                                        [label]="'Prénom'"
                                        [value]="f.firstname"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                    </app-input-form>
                                    <app-input-form
                                        [formGroup]="formGroup.get('profile')"
                                        [name]="'lastname'"
                                        [label]="'Nom'"
                                        [value]="f.lastname"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                    </app-input-form>
                                    <app-input-form
                                        [formGroup]="formGroup.get('profile')"
                                        [name]="'phone'"
                                        [label]="'Téléphone'"
                                        [value]="f.phone"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                    </app-input-form>
                                </div>
                            </div>
                            <div class="card">
                                <h5>Adresse</h5>
                                <div class="p-fluid">
                                    <app-input-textarea-form
                                        [formGroup]="formGroup.get('address')"
                                        [name]="'addr'"
                                        [label]="'Adresse'"
                                        [rows]="3"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                        {{ f.addr }}
                                    </app-input-textarea-form>
                                    <app-input-form
                                        [formGroup]="formGroup.get('address')"
                                        [name]="'postalCode'"
                                        [label]="'Code Postal'"
                                        [value]="f.postalCode"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                    </app-input-form>
                                    <app-input-form
                                        [formGroup]="formGroup.get('address')"
                                        [name]="'city'"
                                        [label]="'Ville'"
                                        [value]="f.city"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                    </app-input-form>
                                    <app-input-form
                                        [formGroup]="formGroup.get('address')"
                                        [name]="'country'"
                                        [label]="'Pays'"
                                        [value]="f.country"
                                        [isSubmitted]="isSubmitted"
                                        [isDisabled]="!isEdit"
                                    >
                                    </app-input-form>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </p-card>
    </div>
</div>
