<div class="p-grid">
    <div [ngClass]="getMasterDetailClass('MASTER')">
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-align-justify p-pr-2"></i>
                            <strong>Liste des comptes</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-master
                            [criteria]="criteria"
                            (criteriaClick)="onClickCriteria()"
                            (addClick)="onAddClick()"
                            (reloadClick)="onClickReload()"
                        ></app-menu-master>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="p-fluid">
                <app-data-table
                    [stateKey]="'account-master-detail'"
                    [fixedColumns]="fixedColumns"
                    [fixedWidth]="'200px'"
                    [columns]="columns"
                    [value]="datas"
                    [selectedData]="selectedData"
                    (onSelectRow)="onSelectRow($event)"
                    (onDblclickRow)="onDblclickRow($event)"
                    [paginator]="pagination && isMasterExpanded"
                    (onPageChanged)="onPageChanged($event)"
                >
                </app-data-table>
            </div>
        </p-card>
    </div>
    <div
        [ngClass]="getMasterDetailClass('DETAIL')"
        *ngIf="!isMasterExpanded"
        [@slideInOut]
    >
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-edit p-pr-2"></i>
                            <strong>Détails compte {{ f.id.value }}</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-detail
                            [types]="'e,d,c'"
                            [isEditDisabled]="isEdit"
                            [isDeleteDisabled]="!canDeleteCopy"
                            [isCopyDisabled]="!canDeleteCopy"
                            (editClick)="onEditClick()"
                            (deleteClick)="onDeleteClick()"
                            (copyClick)="onCopyClick()"
                            (closeClick)="onFormCloseClick()"
                            (maximizeClick)="onFormMaximizeClick()"
                        >
                        </app-menu-detail>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="p-fluid">
                <form [formGroup]="formGroup">
                    <p-tabView>
                        <p-tabPanel header="Compte">
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'username'"
                                [label]="'Username'"
                                [value]="f.username"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [type]="'password'"
                                [name]="'password'"
                                [label]="'Password'"
                                [value]="f.password"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                            <app-input-form
                                [formGroup]="formGroup"
                                [name]="'email'"
                                [label]="'Email'"
                                [value]="f.email"
                                [isSubmitted]="isSubmitted"
                                [isDisabled]="!isEdit"
                            >
                            </app-input-form>
                        </p-tabPanel>
                        <p-tabPanel header="Roles">
                            <p-toolbar>
                                <div class="p-toolbar-group-left">
                                    <h5>
                                        <i
                                            class="fa fa-align-justify p-pr-2"
                                        ></i>
                                        <strong>Liste des roles</strong>
                                    </h5>
                                </div>
                                <div class="p-toolbar-group-right"></div>
                            </p-toolbar>
                            <app-selectable-data-table
                                [columns]="columnsChild"
                                [value]="roles"
                                [(selectedData)]="selectedData.roles"
                                (onSelectRow)="onSelectChildRow($event)"
                                (onDblclickRow)="onDblclickChildRow($event)"
                                [isDisabled]="!isEdit"
                            ></app-selectable-data-table>
                        </p-tabPanel>
                    </p-tabView>
                </form>
            </div>
        </p-card>
    </div>
</div>
