<app-menu-crud class="p-pr-1" *ngIf="showCrud" [types]="types" [isAddDisabled]="isAddDisabled"
  [isEditDisabled]="isEditDisabled" [isDeleteDisabled]="isDeleteDisabled" [isCopyDisabled]="isCopyDisabled"
  (editClick)="onEditClick()" (deleteClick)="onDeleteClick()" (copyClick)="onCopyClick()">
</app-menu-crud>
<span class="p-buttonset" *ngIf="showResiz">
  <button pButton pRipple class="p-button-lg" icon="{{maximizeIcon}}" (click)="maximize()"></button>
  <button pButton pRipple class="p-button-lg" icon="fa fa-times fa-lg" (click)="close()"></button>
</span>