<div class="p-grid">
  <div [ngClass]="getMasterDetailClass('MASTER')">
    <p-card>
      <ng-template pTemplate="header">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <h4><i class="fa fa-align-justify p-pr-2"></i> <strong>liste des opération planifiées</strong></h4>
          </div>
          <div class="p-toolbar-group-right">
            <app-menu-master [criteria]="criteria" (criteriaClick)="onClickCriteria()" (addClick)="onAddClick()"
              (reloadClick)="onClickReload()"></app-menu-master>
          </div>
        </p-toolbar>
      </ng-template>
      <div class="p-fluid">
        <app-data-table [columns]="columns" [value]="Source" [selectedData]="selectedData"
          (onSelectRow)="onSelectRow($event)" (onDblclickRow)="onDblclickRow($event)" [paginator]="pagination"
          (onPageChanged)="onPageChanged($event)">
        </app-data-table>
      </div>
    </p-card>
  </div>
  <div [ngClass]="getMasterDetailClass('DETAIL')" *ngIf="!isMasterExpanded" [@slideInOut]>
    <p-card>
      <ng-template pTemplate="header">
        <p-toolbar>
          <div class="p-toolbar-group-left">
            <h4><i class="fa fa-edit p-pr-2"></i> <strong>Nombre d'opération "{{f.nbr.value}}"</strong></h4>
          </div>
          <div class="p-toolbar-group-right">
            <app-menu-detail [types]="'e,d,c'" [isEditDisabled]="isEdit" [isDeleteDisabled]="!canDeleteCopy"
              [isCopyDisabled]="!canDeleteCopy" (editClick)="onEditClick()" (deleteClick)="onDeleteClick()"
              (copyClick)="onCopyClick()" (closeClick)="onFormCloseClick()" (maximizeClick)="onFormMaximizeClick()">
            </app-menu-detail>
          </div>
        </p-toolbar>
      </ng-template>
      <div class="p-fluid">
        <form [formGroup]="formGroup" style="margin: 0px 0px 0px 168px;">
          <app-input-form [formGroup]="formGroup" [type]="'text'" [name]="'nbr'" [label]="'nbr'" [value]="f.nbr"
            [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
          </app-input-form>
          <app-input-form [formGroup]="formGroup" [type]="'text'" [name]="'lot'" [label]="'lot'" [value]="f.lot"
            [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
          </app-input-form>
          <app-input-form [formGroup]="formGroup" [type]="'text'" [name]="'start'" [label]="'start'" [value]="f.start"
            [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
          </app-input-form>
          <!--<app-input-textarea-form [formGroup]="formGroup" [name]="'longDesc'" [label]="'Description longue'"
            [value]="f.longDesc" [rows]="3" [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
            {{f.longDesc}}
          </app-input-textarea-form>
          <app-switch-form [formGroup]="formGroup" [name]="'status'" [label]="'Statut'" [value]="f.status"
            [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
          </app-switch-form> -->
        </form>
        <button class="p-button-lg p-button-success p-ripple p-button p-component">Planifier cette opération dans le
          gantt</button>
      </div>

    </p-card>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>
<p-toast></p-toast>


<!-- <table style="width:100%" border="1" class="table table-hover">
  <thead>
    <tr>
      <td>nbr</td>
      <td>lot</td>
      <td>operation</td>
      <td>part</td>
      <td>wkctr</td>
      <td>mch</td>
      <td>run</td>
      <td>setup</td>
      <td>move</td>
      <td>start</td>
      <td>due</td>
      <td>qty_ord</td>
      <td>qty_comp</td>
      <td>qty_rjct</td>
      <td>qty_rwrk</td>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let elemant of Source">
      <td>{{elemant.nbr}}</td>
      <td>{{elemant.lot}}</td>
      <td>{{elemant.operation}}</td>
      <td>{{elemant.part}}</td>
      <td>{{elemant.wkctr}}</td>
      <td>{{elemant.mch}}</td>
      <td>{{elemant.run}}</td>
      <td>{{elemant.setup}}</td>
      <td>{{elemant.move}}</td>
      <td>{{elemant.start}}</td>
      <td>{{elemant.due}}</td>
      <td>{{elemant.qty_ord}}</td>
      <td>{{elemant.qty_comp}}</td>
      <td>{{elemant.qty_rjct}}</td>
      <td>{{elemant.qty_rwrk}}</td>
    </tr>
  </tbody>
</table> -->

<!-- 
<div class="main-wrapper animated">
  <div class="row row-wrapper">
    <div [ngClass]="getMasterDetailClass('MASTER')">
      <div class="card card-wrapper">
        <div class="card-header">
          <div class="title">
            <strong>Liste des Clients</strong>
          </div>
          <app-menu-master (addClick)="onAddClick()" (reloadClick)="onClickReload()"
            [pagination]="isMasterExpanded && pagination" (pageSizeClick)="onClickPageSize($event)"
            [criteria]="criteria" (criteriaClick)="onClickCriteria()">
          </app-menu-master>
        </div>
        <div class="card-body card-body-table table-master">
          <app-data-table [columns]="columns" [value]="datas" [selectedData]="selectedData"
            (onSelectRow)="onSelectRow($event)" (onDblclickRow)="onDblclickRow($event)" [paginator]="pagination"
            [paginatorResume]="isMasterExpanded" (onClickPage)="onClickPage($event)"></app-data-table>
        </div>
      </div>
    </div>
    <div [ngClass]="getMasterDetailClass('DETAIL')">
      <div class="card card-wrapper">
        <div class="card-header">
          <div class="title">
            <i class="fa fa-edit fa-lg pr-3"></i> <strong>Client</strong>
          </div>
          <app-menu-detail (editClick)="onEditClick()" [isDelete]="isDelete" (deleteClick)="onDeleteClick()"
            [isCopy]="isCopy" (copyClick)="onCopyClick()" (closeClick)="onFormCloseClick()"
            (maximizeClick)="onFormMaximizeClick()">
          </app-menu-detail>
        </div>
        <div class="card-body">
          <form [formGroup]="formGroup">
            <tabset>
              <tab [active]="mainTab">
                <ng-template tabHeading>Client</ng-template>
                <app-input-form [formGroup]="formGroup" [type]="'text'" [name]="'code'" [label]="'Code'"
                  [value]="f.code" [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
                </app-input-form>
                <app-input-form [formGroup]="formGroup" [type]="'text'" [name]="'name'" [label]="'Nom'" [value]="f.name"
                  [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
                </app-input-form>
                <app-input-form [formGroup]="formGroup" [type]="'text'" [name]="'shortDesc'"
                  [label]="'Description courte'" [value]="f.shortDesc" [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
                </app-input-form>
                <app-input-textarea-form [formGroup]="formGroup" [name]="'longDesc'" [label]="'Description longue'"
                  [value]="f.longDesc" [rows]="3" [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
                  {{f.longDesc}}
                </app-input-textarea-form>
                <app-switch-form [formGroup]="formGroup" [name]="'status'" [label]="'Statut'" [value]="f.status"
                  [isSubmitted]="isSubmitted" [isDisabled]="!isEdit">
                </app-switch-form>
              </tab>
            </tabset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
-->