<div class="p-grid">
    <div [ngClass]="getMasterDetailClass('MASTER')">
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fas fa-list-ul p-pr-2"></i>
                            <strong>Liste des tâches planifiées</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-master
                            [criteria]="criteria"
                            [displayAdd]="false"
                            (criteriaClick)="onClickCriteria()"
                            (addClick)="onAddClick()"
                            (reloadClick)="onClickReload()"
                        >
                        </app-menu-master>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="p-fluid">
                <app-data-table
                    [columns]="columns"
                    [value]="datas"
                    [selectedData]="selectedData"
                    (onSelectRow)="onSelectRow($event)"
                    (onDblclickRow)="onDblclickRow($event)"
                    [paginator]="pagination && isMasterExpanded"
                    (onPageChanged)="onPageChanged($event)"
                >
                </app-data-table>
            </div>
        </p-card>
    </div>
    <div
        [ngClass]="getMasterDetailClass('DETAIL')"
        *ngIf="!isMasterExpanded"
        [@slideInOut]
    >
        <p-card>
            <ng-template pTemplate="header">
                <p-toolbar>
                    <div class="p-toolbar-group-left">
                        <h4>
                            <i class="fa fa-edit p-pr-2"></i>
                            <strong>Tâche {{ f.name.value }}</strong>
                        </h4>
                    </div>
                    <div class="p-toolbar-group-right">
                        <app-menu-detail
                            [types]="'e,c'"
                            [isEditDisabled]="isEdit"
                            [isCopyDisabled]="!canDeleteCopy"
                            (editClick)="onEditClick()"
                            (deleteClick)="onDeleteClick()"
                            (copyClick)="onCopyClick()"
                            (closeClick)="onFormCloseClick()"
                            (maximizeClick)="onFormMaximizeClick()"
                        >
                        </app-menu-detail>
                    </div>
                </p-toolbar>
            </ng-template>
            <div class="p-fluid">
                <form [formGroup]="formGroup">
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'name'"
                        [label]="'Nom'"
                        [value]="f.name"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="true"
                    >
                    </app-input-form>
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'groupName'"
                        [label]="'Groupe'"
                        [value]="f.groupName"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="true"
                    >
                    </app-input-form>
                    <app-input-form
                        [formGroup]="formGroup"
                        [name]="'className'"
                        [label]="'Classe'"
                        [value]="f.className"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="true"
                    >
                    </app-input-form>
                    <app-switch-form
                        [formGroup]="formGroup"
                        [name]="'cron'"
                        [label]="'Cron'"
                        [value]="f.cron"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-switch-form>
                    <app-input-form
                        *ngIf="f.cron.value"
                        [formGroup]="formGroup"
                        [name]="'cronExpression'"
                        [label]="'Expression cron'"
                        [value]="f.cronExpression"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-input-form>
                    <app-input-form
                        *ngIf="!f.cron.value"
                        [formGroup]="formGroup"
                        [type]="'number'"
                        [name]="'repeatTime'"
                        [label]="'Répéter'"
                        [value]="f.repeatTime"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-input-form>
                    <app-switch-form
                        [formGroup]="formGroup"
                        [name]="'status'"
                        [label]="'Statut'"
                        [value]="f.status"
                        [isSubmitted]="isSubmitted"
                        [isDisabled]="!isEdit"
                    >
                    </app-switch-form>
                </form>
            </div>
        </p-card>
    </div>
</div>
