<div class="p-fluid" [formGroup]="formGroup">
    <div class="p-field p-grid">
        <p-fileUpload
            class="p-col-12 p-md-12"
            id="{{ name }}"
            name="{{ name }}"
            chooseLabel="{{ label }}"
            [showUploadButton]="false"
            [showCancelButton]="false"
            (onRemove)="onRemove($event)"
            (onSelect)="onFileChange($event)"
            accept="{{ accept }}"
            [ngClass]="{ 'ng-dirty ng-invalid': isSubmitted && getErrors() }"
            [attr.disabled]="isDisabled ? '' : null"
        >
        </p-fileUpload>
        <app-validation-form
            *ngIf="isSubmitted"
            [value]="value"
            class="invalid-feedback"
        ></app-validation-form>
    </div>
</div>
