<div class="p-fluid" [formGroup]="formGroup">
    <div class="p-field p-grid">
        <label
            class="p-col-12 p-md-4"
            *ngIf="label != ''"
            [ngClass]="{ required: isRequired() }"
        >
            {{ label | translate }}
        </label>
        <div [attr.class]="label != '' ? 'p-col-8' : 'p-col-12'">
            <textarea
                pInputTextarea
                formControlName="{{ name }}"
                id="{{ name }}"
                name="{{ name }}"
                rows="{{ rows }}"
                class="form-control"
                [ngClass]="{ 'is-invalid': isSubmitted && getErrors() }"
                placeholder="{{ placeholder | translate }}"
                [attr.disabled]="isDisabled ? '' : null"
                (ngModelChange)="onValueChange($event)"
            ></textarea>
            <small>{{ help }}</small>
            <app-validation-form
                *ngIf="isSubmitted"
                [value]="value"
                class="invalid-feedback"
            ></app-validation-form>
        </div>
    </div>
</div>
