<div class="p-fluid" [formGroup]="formGroup">
    <div class="p-field p-grid">
        <label
            class="p-col-12 p-md-4"
            *ngIf="label != ''"
            [ngClass]="{ required: isRequired() }"
            >{{ label | translate }}</label
        >
        <div [attr.class]="label != '' ? 'p-col-8' : 'p-col-12'">
            <p-dropdown
                formControlName="{{ name }}"
                id="{{ name }}"
                name="{{ name }}"
                [ngClass]="{
                    'ng-invalid ng-dirty': isSubmitted && getErrors()
                }"
                [options]="values"
                placeholder="{{ placeholder }}"
                filter="true"
                emptyFilterMessage="Liste vide !"
                optionLabel="{{ displayField }}"
                optionValue="{{ returnValue }}"
                (ngModelChange)="onValueChange($event)"
                [group]="group"
                [disabled]="isDisabled"
            >
            </p-dropdown>
            <small>{{ help }}</small>
            <app-validation-form
                *ngIf="isSubmitted"
                [value]="value"
                class="invalid-feedback"
            ></app-validation-form>
        </div>
    </div>
</div>
